### HEATHER'S OBSERVATIONS
*1. This data shows that the noteable majority of individals purchasing identify as male at 84% of the unique population.
*2. The age range of this population shows a higher trend of individuals in the early twenties - Gen Z, I believe.
*3. The most popular item, which generated the largest the largest sale, was Final Critic.
*If someone was looking to expand their buisness, a good target audience to get consumer information would seem to be males, age 20-24.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [3]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
players_count = len(purchase_data_df["SN"].unique())
players_df = pd.DataFrame({"Total Players": [players_count]})
players_df

   Total Players
0            576

## Player Count

* Display the total number of players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
item_count = len(purchase_data_df["Item ID"].unique())
total_revenue = purchase_data_df["Price"].sum()
purchase_number = purchase_data_df["Purchase ID"].count()
average_price = (total_revenue / purchase_number)

summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                          "Average Price": [average_price],
                          "Number of Purchases": [purchase_number],
                          "Total Revenue": [total_revenue]})
#summary_df["Average Price"].dtype
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#create new df that reduces to unique players then filter by gender
#add column of percents(6/22 notes Test Score Summary)
trim_data = purchase_data_df.drop_duplicates(subset=["SN"])
#trim_data.head()
gender_count = trim_data["Gender"].value_counts()
#print(gender_count)

#reminder players_count already created

percent_players = (gender_count/players_count)*100
#print(percent_players)

gender_percent_df = pd.DataFrame({"Total Count": gender_count,
                                 "Percentage of Players": percent_players})
gender_percent_df["Percentage of Players"] = gender_percent_df["Percentage of Players"].map("{:.2f}%".format)
gender_percent_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#reminder to use gender_count from above
purchase_by_gender = purchase_data_df.groupby("Gender")
#print(purchase_by_gender)

purchase_count = purchase_by_gender["Purchase ID"].count()
#print(purchase_count)

avg_purchase_price = purchase_by_gender["Price"].mean()
#print(avg_purchase_price)

total_purchase = purchase_by_gender["Price"].sum()
#print(total_purchase)

avg_total_person = total_purchase/gender_count
#print(avg_total_person)

purchase_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price,
                           "Total Purchase Value": total_purchase, "Avg Total Purchase per Person": avg_total_person})
purchase_df["Average Purchase Price"] = purchase_df["Average Purchase Price"].map("${:.2f}".format)
purchase_df["Total Purchase Value"] = purchase_df["Total Purchase Value"].map("${:.2f}".format)
purchase_df["Avg Total Purchase per Person"] = purchase_df["Avg Total Purchase per Person"].map("${:.2f}".format)
purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_group_series = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
age_count = age_group_series.value_counts()
#age_count
total_count = age_group_series.count()
age_percent = (age_count / total_count)*100
#print(age_percent)

age_df = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percent})
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:.2f}%".format)
age_df = age_df.sort_index()
age_df

       Total Count Percentage of Players
<10             23                 2.95%
10-14           28                 3.59%
15-19          136                17.44%
20-24          365                46.79%
25-29          101                12.95%
30-34           73                 9.36%
35-39           41                 5.26%
40+             13                 1.67%

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#use age_df
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_group_df = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
#print(age_group_df)
age_count = age_group_df.value_counts()
#print(age_count)

total_age_purchase = purchase_data_df['Price'].sum()
#print(total_age_purchase)

total_purchase_count = age_count * avg_purchase_price
#print(total_purchase_count)

#something is wrong with my average - referencing wrong df
avg_purchase_price = purchase_data_df["Price"].mean()
#print(avg_purchase_price)

avg_total_person = total_age_purchase/age_count
#print(avg_total_person)

age_df = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": avg_purchase_price,
                     "Total Purchase Value": total_purchase_count, "Avg Total Purchase per Person": avg_total_person})
age_df["Average Purchase Price"] = age_df["Average Purchase Price"].map("${:.2f}".format)
age_df["Total Purchase Value"] = age_df["Total Purchase Value"].map("${:.2f}".format)
age_df["Avg Total Purchase per Person"] = age_df["Avg Total Purchase per Person"].map("${:.2f}".format)
age_df = age_df.sort_index()
age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.05,$70.17,$103.47
10-14,28,$3.05,$85.43,$84.99
15-19,136,$3.05,$414.93,$17.50
20-24,365,$3.05,$1113.61,$6.52
25-29,101,$3.05,$308.15,$23.56
30-34,73,$3.05,$222.72,$32.60
35-39,41,$3.05,$125.09,$58.04
40+,13,$3.05,$39.66,$183.06

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [117]:
purchase_by_player = purchase_data_df.groupby("SN")
#print(purchase_by_player)

#group_SN = purchase_data_df.groupby("SN")["Purchase ID"].nunique()

purchase_count_player = purchase_by_player["Purchase ID"].count()

total_purchase_player = purchase_by_player["Price"].sum()

avg_price_player = purchase_by_player["Price"].mean()
#print(avg_purchase_price)

total_player_value = (purchase_count_player * avg_price_player)

spendors_df = pd.DataFrame({"Purchase Count": purchase_count_player, "Average Purchase Price": avg_price_player,
                           "Total Purchase Value": total_player_value})
spendors_df["Average Purchase Price"] = spendors_df["Average Purchase Price"].map("${:.2f}".format)
spendors_df["Total Purchase Value"] = spendors_df["Total Purchase Value"].map("${:.2f}".format)
spendors_df = spendors_df.sort_values(by="Purchase Count", ascending=False)
spendors_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [132]:
popular_item = purchase_data_df.iloc[:,4:]
popular_item.drop('Age Summary', axis=1, inplace=True)
popular_item.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [134]:
item_group = popular_item.groupby(["Item ID", "Item Name"])

#purchase count
item_count = item_group["Price"].count()

#average item price
item_average_price = item_group["Price"].mean()

#total purchase value
item_total_purchase = item_group["Price"].sum()

item_prices = pd.DataFrame({"Purchase Count": item_count, "Item Price": item_average_price,
                           "Total Purchase Value": item_total_purchase})
item_prices["Item Price"] = item_prices["Item Price"].map("${:.2f}".format)
item_prices["Total Purchase Value"] = item_prices["Total Purchase Value"].map("${:.2f}".format)
item_prices = item_prices.sort_values(by="Purchase Count", ascending=False)
item_prices.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [136]:
item_prices = pd.DataFrame({"Purchase Count": item_count, "Item Price": item_average_price,
                           "Total Purchase Value": item_total_purchase})
item_prices["Item Price"] = item_prices["Item Price"].map("${:.2f}".format)
item_prices["Total Purchase Value"] = item_prices["Total Purchase Value"].map("${:.2f}".format)
item_prices = item_prices.sort_values(by="Total Purchase Value", ascending=False)
#updated my sort accordingly but below looks like perhaps the original image is a copy/paste of prior?
item_prices.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80